* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
}
